* {
    margin: 0;
    padding: 0;
}
#warpper {
    margin: 0 125px;
    padding: 0;
    min-width: 1200px;
}
body {
    background-color: #FAF9F6;
}
header, main, footer, nav, aside, section, article, div {
    display: block;
}
header {
    background-color: #d9d9d9;
    width: 100%;
}
.header_container {
    display: flex;
}
a {
    text-decoration: none;
    color: black;
}
#logo {
    background-image: url("../images/Tank-Transparent-PNG\ 2.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 88px;
    width: 88px;
    display: block;
    margin-left: 98px;
    margin-top: 22px;

}
#logo span {
    padding-left: 102px;
    font-size: 40px;
    line-height: 0.8;
    color: black;
    display: inline-block;
}
.mainContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 89px;
    margin-top: 45px;
    margin-left: 59px;
}
article {
    height: 87px;
    width: 322px;
    background-color: #d9d9d9;
    display: flex;
    align-items: flex-start;
    border-radius: 5%;
    
}
#soldierPic {
    height: 73px;
    width: 73px;
    border-radius: 50%;
    margin-right: 17px;
    margin-left: 10px;
    margin-top: 7px;
}
article ul {
    list-style: none;
    direction: rtl;
    margin-top: 7px;
}
li {
    margin-left: 96px;
}


input {
    margin-top: 70px;
    margin-left: 467px;
    width: 258px;
    height: 44px;
    background-image: url("../images/image\ 9.png");
    background-size: contain;
    background-repeat: no-repeat;
    direction: rtl;
    border: none;
    border-radius: 10%;
    background-color: #d9d9d9;
}
input::placeholder {
    text-align: left;
    padding-left: 50px;
}
#category_bt {
    margin-top: 70px;
    height: 44px;
    width: 168px;
    background-color: #d9d9d9;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    border-radius: 10%;
     
}
#category_bt span {
    margin-left: 40px;
}
#category_menu {
    display:none;
    background-color: white;
    direction: rtl;
    margin-top: 120px;
    position: absolute;
    width: 164px;
}
#category_menu li {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#category_menu li span {
    display: block;

}
#submenu {
    display: none;
    position: absolute;
    direction: rtl;
    list-style: none;
    background-color:white;
    top: 0;
    margin-right: 164px;
    width: 164px;
}

#submenu li {
    display: flex;
    justify-items: center;
    align-items: center;
}
#category_menu  li:hover {
    background-color: gray;
}
li #submenu li:hover {
    background-color: gray;
}
.top_main {
    display: flex;
    align-items: center;
    gap: 160px;
}

#select {
    background-image: url("../images/select.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.arrow {
    background-image: url("../images/arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
#pagePosition {
    display: flex;
    flex-direction: column;
    direction: rtl;
    margin-top: 10px;
    margin-right: 53px;    
}

.objectContainer {
    display: flex;
    align-items: flex-start;
    position: relative;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 25px;
}
.objectContainer h2 {
    position: absolute;
    top: 0;
    margin-left: 350px;
}
#profile-picture {
    flex: 1;
    text-align: center;
    margin-left: 55px;
}

#profile-picture > img {
    border-radius: 50%;
    width: 357px;
    height: 357px;
    object-fit: cover;
}
.profile-info {
    height: 230px;
    flex: 2;
    padding-right: 20px;
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 22px;
    margin-top: 50px;
}

.profile-info h2 {
    font-size: 25px;
    margin-top: 0;
}
.profile-info span {
    font-weight: bold;
    font-size: 18px;
}
.army-info {
    display: flex;
    direction: rtl;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 22px;
    width: 450px;
}
.adding_area {
    direction: rtl;
    display: flex;
    flex-direction: column;
    gap: 77px;
}
.adding_area button {
    width: 300px;
    height: 80px;
    border-style: none;
    border-radius: 25px;
}
.adding_area button:hover {
    background-color: #d3d3d3;
}
.simulation_continer{
    display: flex;
    flex-direction: column;
    direction: rtl;
    width: 800px;
    margin-left: 74px;
}
.simulation {
    margin-top: 31px;
    display: flex;
    gap: 30px;
    align-items: center;
    text-align: center;
}
.simulation div {
    display: flex;
    justify-content: center;
    height: 60px;
    width: 348px;
    background-color: #d3d3d3;
    border-style: none;
    border-radius: 25px;
}
.simulation div a {
   
    margin-top: 17px;
    margin-bottom: 18px;
}


.buttonArea {
    display: flex;
    flex-direction: column;
    gap: 90px;
}
.buttonArea h2 {
    margin-left: 95px;
}
#backbutton {
    margin-top: 35px;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 15px;
}