*{
    margin: 0;
    padding: 0;
}

#warpper {
    max-width: 100%;
    padding: 0;
    padding-top: 116px;
    padding-right: 180px;
    margin-bottom: 16px;
}

body {
    background-color: #FAF9F6;
}
main, footer, nav, aside, section, article {
    display: block;
}

.headerContainer{
    display: flex;
    z-index: 5;
    width: 100%;
    height: 116px;
    background-color: #d9d9d9;
    align-items: flex-end;
    padding-bottom: 16px;
    position: fixed;
}

#logo{
    background-image: url("../images/logo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 56px;
    display: block;
    background-position: center; 
    text-decoration: none;
    margin-left: 32px;
    margin-bottom: 16px;
}

#logo span{
    font-size: 18px;
    font-family: "Aclonica", sans-serif;
    line-height: 0.8;
    color: black;
    display: inline-block;
    width: 100%;
    margin-top: 60px;
}

.aclonicaRegular{
    font-family: "Aclonica", sans-serif;
    font-weight: 400;
    font-style: normal;
}  

.inter-regular{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

a {
    text-decoration: none !important;
    cursor: pointer;
    color: black !important;
}

.hebrewText{
    direction: rtl;
    text-align: right;
    color: black !important;
    font-family: "Inter", sans-serif;
}

.profileContainer{
    display: flex;
    width: fit-content;
    height: 83px;
    position: absolute;
    right: 0;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.roundProfileImg{
    border-radius: 50%;
    width: 79px; 
    height: 83px;
}

#welcome{
    margin-right: 18px;
    font-weight: bold;
    font-size: x-large;
}

.verticalNev{
    max-width: 180px;
    width: 180px;
    height: 100%;
    background-color: #d9d9d9;
    margin-top: 116px;
    right: 0;
    position: fixed;
}

.navList{
    display: flex;
    flex-direction: column;
    width: 100%;
   
}

.navList :hover {
    background-color: #FAF9F6;
}

.navList div {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: right;
    position: relative;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom-color: #ffffff !important;
    border-bottom-style: solid;
    border-width: 1px;
}

#personIcon {
    background-image: url("../images/iconPerson.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
}

#videoIcon {
    background-image: url("../images/iconVideo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
}

#reportsIcon {
    background-image: url("../images/iconReport.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
}

#requestIcon {
    background-image: url("../images/iconRequest.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
}

#feedbackIcon {
    background-image: url("../images/iconMessage.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: none;
}

#homeIcon{
    background-image: url("../images/iconHome.svg");
    background-repeat: no-repeat;
    background-size: contain;
}

#LngIcon{
    background-image: url("../images/iconLng.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
#simulationIcon {
    background-image: url("../images/simulation_Icon.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
}
#requestIcon {
    background-image: url("../images/requestIcon.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
}
#systemIcon {
    background-image: url("../images/systemIcon.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
}
#addEvent {
    background-image: url("../images/addEVENT.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
}
#headerLinks{
    display: flex;
    position: relative;
}

.icon {
    width: 24px;
    height: 24px;
    margin: 0px 8px 0px 8px;
}
#profileLinks {
    margin-right: 18px;
}
#pagePosition {
    margin-top: 10px;
    margin-right: 200px;
    direction: rtl;
}
.mainContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 89px;
    margin-top: 45px;
}
.magnified {
    background-image: url("../images/image\ 9.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

#sourceBar {
    width: 258px;
    height: 44px;
    background-image: url("../images/image\ 9.png");
    background-size: contain;
    background-repeat: no-repeat;
    direction: rtl;
    border: none;
    background-color: #d9d9d9;
    margin-top: 70px;
    border-radius: 25px;
}

#sourceBar::placeholder{
    text-align: left;
    padding-left: 50px;
}

#simulationSourceBar {
    width: 258px;
    height: 44px;
    background-image: url("../images/image\ 9.png");
    background-size: contain;
    background-repeat: no-repeat;
    direction: rtl;
    border: none;
    background-color: #d9d9d9;
    margin-top: 70px;
    border-radius: 25px;
}

#simulationSourceBar::placeholder{
    text-align: left;
    padding-left: 50px;
}

#categoryButton{
    margin-top: 70px;
    height: 44px;
    width: 168px;
    background-color: #d9d9d9;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 10%;   
}

#simulationCategoryButton{
    margin-top: 70px;
    height: 44px;
    width: 168px;
    background-color: #d9d9d9;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 10%;   
}

#select {
    background-image: url("../images/select.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-left: 25px;   
}
#categoryMenu {
    display:none;
    background-color: white;
    direction: rtl;
    margin-top: 140px;
    position: absolute;
    width: 168px;
}
#categoryMenu li 
{
    width: 168px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    border-style: none;
}
#categoryMenu li span {
    text-align: center;
    margin-right: 35px;
   
}

#simulationCategoryMenu {
    display:none;
    background-color: white;
    direction: rtl;
    margin-top: 140px;
    position: absolute;
    width: 168px;
}
#simulationCategoryMenu li 
{
    width: 168px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    border-style: none;
}
#simulationCategoryMenu li span {
    text-align: center;
    margin-right: 35px;
   
}

.arrow {
    background-image: url("../images/arrow.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

#submenu {
    display: none;
    position: absolute;
    direction: rtl;
    list-style: none;
    background-color:white;
    top: 0;
    margin-right: 165px;
    width: 168px;
}

#submenu li {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 168px;

}

#submenuRoles {
    display: none;
    position: absolute;
    direction: rtl;
    list-style: none;
    background-color:white;
    top: 0;
    margin-right: 165px;
    width: 168px;
}

#submenuRoles li {
    display: flex;
    justify-content: center;
    width: 168px;

}


#difficultySubmenu {
    display: none;
    position: absolute;
    direction: rtl;
    list-style: none;
    background-color:white;
    top: 0;
    margin-right: 165px;
    width: 168px;
}

#difficultySubmenu li {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 168px;

}

#afvSubmenu {
    display: none;
    position: absolute;
    direction: rtl;
    list-style: none;
    background-color:white;
    top: 0;
    margin-right: 165px;
    width: 168px;
}

#afvSubmenu li {
    display: flex;
    justify-content: center;
    width: 168px;

}

#role{
    position: absolute;
    direction: rtl;
    list-style: none;
    background-color:white;
    width: 168px;
}

#afv{
    position: absolute;
    direction: rtl;
    list-style: none;
    background-color:white;
    width: 168px;
}

#categoryMenu  li:hover {
    background-color: gray;
}
li #submenu li:hover {
    background-color: gray;
}
li #role li:hover {
    background-color: gray;
}

#simulationCategoryMenu  li:hover {
    background-color: gray;
}
li #difficultySubmenu li:hover {
    background-color: gray;
}
li #afv li:hover {
    background-color: gray;
}

.soldierPlaceholder {
    width: max-content;
    height: 87px;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: row;
    direction: rtl;
    border-radius: 25px;
    align-items: center;
    padding-left: 5px;
}

.simulationRecordPlaceholder {
    width: max-content;
    height: 87px;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: row;
    direction: rtl;
    border-radius: 25px;
    align-items: center;
    padding-left: 5px;
}

.breadcrumb{
    display: flex;
    list-style: none;
    font-weight: bold;
    margin: 0 !important;
}

.breadcrumbContainer{
    display: flex;
    flex-direction: column;
    padding-top: 6px !important;
    padding-right: 44px !important;
}

.breadcrumb-item {
    display: flex;
    align-items: center;
    font-size: 18px;
}
  
.breadcrumb-item + .breadcrumb-item::before {
    content: '>' !important;
    padding: 0 8px;
    color: #6c757d;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}
  
.breadcrumb-item.active {
    color: #d9d9d9;
}

.topMain {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 139px;
}

.rectangleImg{
    width: 341px !important;
    height: 252px !important;
    display: flex;
}

.mainText{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    font-size: 18px;
}

.mainPageContainer{
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    margin-right: 44px;
    width: 100%;
}

.firstLineImg{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 100px;
}

.secondLineImg{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#backbutton {
    width: 60px;
    height: 60px;
    border-radius: 25px;
    border-style: none;
}
#plusBotten {
    background-image: url("../images/plus_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin-top: 70px;
}

#soldierPic {
    width: 73px;
    height: 73px;
    border-radius: 50%;
    margin-top: 7px;
    margin-right: 5px;
}
.personalInfo {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    margin-right: 15px;
}
.personalInfo div  a {
    color: black;
}



#profile-picture img
{
    max-width: 100%;
    height:  100%;
}

.recordInfo {
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    margin-right: 15px;
}
.recordInfo div  a {
    color: black;
}

.objectContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    direction: rtl;
    margin-right: 55px;
    gap: 55px;
    margin-top: 25px;
}
#armyInfo {
    display: flex;
    flex-direction: row;
    gap: 45px;
}
#profileInfo {
    display: flex;
    flex-direction: column;
    gap: 45px;
}
#armyData {
    display: flex;
    flex-direction: column;
    gap: 22px;
}
#prsonalInfo {
    display: flex;
    flex-direction: column;
    gap: 22px;
}
.addingArea {
    display: flex;
    flex-direction: column;
    gap: 77px;
    padding-right: 30px;
    margin-top: 100px;
    margin-left: 92px;
}
.addingArea button {
    width: 300px;
    height: 60px;
    border-style: none;
    border-radius: 25px;
}
.buttonArea {
    margin-right: 55px;
    display: flex;
    justify-content: center;
}

.simulationContiner {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    direction: rtl;
}
#simulation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
}
#simulation div {
    display: flex;
    width: 348px;
    height: 60px;
    background-color: #d9d9d9;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
#simulation div a {
    color: black;
}
.delete {
    background-image: url("../images/delete.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-right: 20px;
}

.textContainer {
    flex: 1;
    margin-right: 20px;
    direction: rtl;
}

.videoContainer {
    flex: 1;
}

.actionButtons .custom-btn {
    background-color: #d9d9d9;
    border-color: #d9d9d9;  
    width: 150px;
    margin: 10px;
}

.actionButtons .custom-btn:hover {
    background-color: gray;
    border-color: gray;
    color: white;
}
.formSection {
    display: flex;
    max-width: 1200px;
    align-items: flex-start;
    margin-right: 25px;
    margin-top: 25px;
}

section #formSection {
    max-width: 30%;
    padding-right: 25px;
}
.navList div a.active {
    font-weight: bold;
}

#profilePicture img {
    max-width: 100%;
    height:  100%;
    border-radius: 50%;
}

button.btn.btn-primary.custom-btn {
    background-color: #6c757d;
}
.footer-margin {
    height: 150px; 
}
.form-section {
    width: 400px !important;
}
.mainContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.mainContainer article {
    max-width: max-content;
    max-height: max-content;
    background-color: #d9d9d9;
    
}
.mainContainer article span {
    font-weight: bold; 
    font-family: "Inter", sans-serif;
    margin-right: 10px;
}
.mainContainer article iframe {
    width: 222px;
    height: 160px;
    margin-right: 10px;
}

.ArticleContent {
    display: flex;
    flex-direction: row;
}
.articleInfo {
    display: flex;
    flex-direction: column;
}
#requestsContainer {
    background-color: #d9d9d9;
    width: 880px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#requestsContainer h2 {
    text-align: center;
}
#requestsContainer article {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 81px;
    width: 100%;
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
    border-width: 1px;
    justify-content: space-between;
    
}
#requestsContainer article img {
    margin-right: 32px;
    border-radius: 50%;
    width: 55px; 
    height: 55px;   
}
#requestsContainer article div {
    display: flex;
    flex-direction: column;
    align-items: end;   
}
#commenderName {
    font-size: small;
}
.lockIcon {
    background-image: url("../images/lock_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
.editingIcon {
    background-image: url("../images/editIcon.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}
#requestsContainer article .rightsideholder {
    display: flex;
    flex-direction: row;
    width: 880px;  
}
#requestsContainer article .middleRightSideHolder{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.MessageContinuer {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 255px;
    width: 751px;
}
#simulationCategoryMenu{
    display:none;
    background-color: white;
    direction: rtl;
    margin-top: 190px;
    position: absolute;
    width: 168px;
}
#simulationCategoryMenu  li:hover {
    background-color: gray;
}
#simulationCategoryMenu li 
{
    width: 168px;
    height: 44px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    border-style: none;
}
#simulationCategoryMenu li span {
    text-align: center;
    margin-right: 35px;
   
}
.simulationPlaceHolder {
    width: 350px;
    height: 257px;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    border-radius: 5px;
}
.simulationPlaceHolder img {
    height: 162px;
    width: 288px;
    border-radius: 5px;
    margin-top: 5px;
    margin-right: 10px;
}
.infoContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 59px;
    margin-right: 10px;
}
.submenu1 {
    display: none;
    position: absolute;
    direction: rtl;
    list-style: none;
    background-color:white;
    top: 90px;
    right: 3px;
    margin-right: 165px;
    width: 168px;   
}
li .submenu1 li:hover {
    background-color: gray;
}
.submenu1 li {
    display: flex;
    justify-items: center;
    align-items: center;
    width: 168px;
}

.slidecontainer {
    width: 100%;
  }

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: white;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #6c757d;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #6c757d;
    cursor: pointer;
  }

.form-label {
    display: block;
}

#simulationImg {
    height: 308px;
    width: 409px;
    border-radius: 5%;
}
.simulationContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#simulationName {
    margin-top: 18px;
}
#simulationInfo {
    
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    justify-content: space-around;
    width: 519px;
    height: 329px;
}
.simulationSection {
    display: flex;
    flex-direction: row;
    gap: 223px;
}
.bold {
    font-size: large;
    font-weight: bold;
}
.FieldContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#buttonsArea {
    display: flex;
    flex-direction: row;
    margin-top: 116px;
    justify-content: center;
    gap: 240px;
}
#buttonsArea button {
    width: 208px;
    height: 32px;
    border-style: none;
    border-radius: 25px;
    background-color: #d9d9d9;
}

#Simulationform {
    width: 322px;
    display: none;
    margin-right: 40px;   
}
.playIcon {
    background-image: url("../images/play_icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;   
}
.imgPlacholder {
    position: relative;
    display: inline-block; 
}
#matchingSoldirSection{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    margin-right: 40px;
    gap: 10px; 
}
#textContiner {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}